# This is the .env template.
# To use this, copy it as .env
# This is currently only used by Drew's nugget receptacle position detection
# found at main/subsytems/nugget_receptacle

DO_POSE=True
DO_UNDISTORT=False
IN_FILE="SOME_PATH_TO_AN_IMAGE_OR_VIDEO"
POSE_TYPE="advanced" # simple or advanced, defines how to draw the pose on screen
SAVE_RAW=True
DRAW_COM_CIRCLES=True # Center of mass circles (L-shape detection)
DRAW_CROSS=True # Thin green cross between main 4 corners
